/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  background-image: 
  url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}

.flex-container {
  height: 70vh;
  width: 70%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5),	rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: white;
}

/* Hero text section */
.text-container h1 {
  font-family: 'Staatliches', cursive;
  /* Fluid Font Size */
  font-size: calc(40px + (110 - 40) * ((100vw - 300px) / (1920 - 300)));
  text-shadow: 1px 7px 7px black;
  letter-spacing: 10px;
}

.text-container p {
  font-family: 'Merriweather Sans', sans-serif;
  /* Fluid Font Size */
  font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1920 - 300)));
  text-shadow: 2px 4px 3px black;

  margin-top: 2em;
}

/* Hero Form Section */
fieldset {
  /* Reset */
  border: none;
  
  display: flex;
  flex-direction: column;
  
  font-family: 'Staatliches', cursive;
  font-size: calc(18px + (27.2 - 18) * ((100vw - 300px) / (1920 - 300)));
  color: white;
}

fieldset label {
  padding-top: 1em;
}

.check-container label {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
  color: white;
}

fieldset button {
  margin-top: 1.4em;
  align-self: center;

  padding: 10px 15px;
  background-color: black;
  border: 1px solid white;
  letter-spacing: 1px;
  color: white;
  border-radius: 4px;
  font-size: 1.3rem;
  transition: all .3s;
}

fieldset button:hover {
  background-color: black;
  color: #00c220;
  border: 1px solid #00c220;
  cursor: pointer;
}

fieldset button:active {
  transform: scale(.9);
}

fieldset input, fieldset select {
  max-width: 30ch;
  padding: 15px 10px;
  font-size: 1.2rem;
}

legend {
  text-align: center;
  margin: auto;
  font-size: 2.1rem;
  font-weight: 700;
  padding-top: 1em;
  max-width: 30ch;
}

/* Media Queries */